<body>
    <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 my-auto">
                    <div class="masthead-content text-white py-5 py-md-0">
                        <h1 class="mb-3">¡Vaya, algo ha salido mal...!</h1>
                        <p class="mb-5">Parece que algo ha ido mal, o has ido a parar a un sitio que no tocaba...
                            <strong>Prueba a volver!</strong></p>
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-block btn-lg" type="button" routerLink="/main">Volver!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
            <li class="list-unstyled-item">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="list-unstyled-item">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="list-unstyled-item">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>-->
</body>