<body class="pricing py-4">
    <div class="container h-100">
        <div class="row h-100">
            <!-- Free Tier -->
            <div class="p-4 h-100">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase text-center">Bienvenido: {{email}}</h3>
                        <h4 class="text-center">Tus tareas</h4>
                        <!-- MODAL CREATE -->
                        <ng-template #create let-c="close" let-d="dismiss" id="create">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Introduzca su nueva tarea:</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="newTarea(newTareaForm.value)" [formGroup]="newTareaForm">
                                    <h4>
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <p></p>
                                            <input type="text" formControlName="nombre">
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <p></p>
                                            <input type="date" formControlName="fecha">
                                        </div>
                                        <div class="form-group">
                                            <label>Detalles:</label>
                                            <p></p>
                                            <input type="text" formControlName="detalle">
                                        </div>
                                    </h4>
                                    <!--<input type="hidden" formControlName="usuario">-->
                                    <input type="submit" class="btn btn-block btn-success text-uppercase text-white"
                                        [disabled]="!newTareaForm.valid" value="Guardar">
                                </form>
                            </div>
                            <!--<div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"
                                    (click)="c('Save click')">Save</button>
                            </div>-->
                        </ng-template>
                        <!-- MODAL CREATE -->
                        <!-- MODAL EDIT -->
                        <ng-template #update let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Contenido de su tarea</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form (ngSubmit)="updateTarea(newTareaForm.value)" [formGroup]="newTareaForm">
                                    <h4>
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <p></p>
                                            <input type="text" formControlName="nombre" value="{{nombre}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <p></p>
                                            <input type="date" formControlName="fecha" value="{{fecha}}">
                                        </div>
                                        <div class="form-group">
                                            <label>Detalles:</label>
                                            <p></p>
                                            <input type="text" formControlName="detalle" value="{{detalle}}">
                                        </div>
                                    </h4>
                                    <!--<input type="hidden" formControlName="usuario">-->
                                    <input type="submit" class="btn btn-block btn-success text-uppercase text-white"
                                        value="Guardar">
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"
                                    (click)="c('Save click')">Save</button>
                            </div>
                        </ng-template>
                        <!-- MODAL EDIT -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <!--<th scope="col">Detalle</th>-->
                                    <th scope="col">Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tarea of tareas">
                                    <th>{{tarea.nombre}}</th>
                                    <!--<td>{{tarea.detalle}}</td>-->
                                    <td>{{tarea.fecha}}</td>
                                    <td class="text-center">
                                        <i class="fas fa-search-plus" (click)="open(update,tarea, tarea.id)"></i>
                                        <i class="fas fa-minus" (click)="deleteTarea(tarea.id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <h4 class="text-center mb-3" (click)="open(create)">Nueva tarea
                            <i class="fas fa-plus-circle"></i>
                        </h4>
                        <a class="btn btn-block btn-info text-uppercase text-white" (click)="desconectarse()">Cerrar
                            sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>